<div class="center hero-unit">
  <h1>Welcome to Rolling Dones</h1>

  <h2>
    Get organized and get things done with the perfect rolling to-do list.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
